{% extends 'base.html' %}

{% block title %} | Services {% endblock %}
{% block content %}

<!-- Sub banner start -->

<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Services</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Services</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Services start -->
<div class="services content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title text-center">
            <h1>Our <span>Services</span></h1>
            <p>Welcome to our Car Rentals, where luxury meets the road; indulge in the thrill of driving with our exclusive Lamborghini rentals.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">1</div>
                    <div class="icon">
                        <i class="flaticon-support-2"></i>
                    </div>
                    <div class="detail">
                        <h3>Free Support</h3>
                        <p>Unlock a world of perks with our complimentary services, including free delivery, 24/7 roadside assistance, and personalized concierge support.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">2</div>
                    <div class="icon">
                        <i class="flaticon-speed"></i>
                    </div>
                    <div class="detail">
                        <h3>Super Fast</h3>
                        <p>Experience lightning-fast rentals and unleash the power of speed with our high-performance vehicles, ensuring you hit the road swiftly and stylishly.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">3</div>
                    <div class="icon">
                        <i class="flaticon-motor"></i>
                    </div>
                    <div class="detail">
                        <h3>Repairing</h3>
                        <p>Rest easy knowing our expert team ensures our fleet is always in top condition. In the rare event of an issue, trust us to swiftly handle repairs, keeping you on the road with peace of mind.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">4</div>
                    <div class="icon">
                        <i class="flaticon-air-conditioner"></i>
                    </div>
                    <div class="detail">
                        <h3>AIR conditioning</h3>
                        <p>Stay cool and comfortable on your journey with our top-notch air conditioning systems, ensuring a refreshing drive no matter the weather or distance.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">5</div>
                    <div class="icon">
                        <i class="flaticon-fuel"></i>
                    </div>
                    <div class="detail">
                        <h3>Oil Change</h3>
                        <p>Drive with confidence knowing our vehicles receive regular oil changes, ensuring peak performance and reliability throughout your rental period.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">7</div>
                    <div class="icon">
                        <i class="flaticon-wheel"></i>
                    </div>
                    <div class="detail">
                        <h3>Engine Repair</h3>
                        <p>Count on us to keep your rental experience smooth; our expert team is equipped to swiftly handle any engine repairs, ensuring you're back on the road without delay.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">6</div>
                    <div class="icon">
                        <i class="flaticon-car-2"></i>
                    </div>
                    <div class="detail">
                        <h3>Dealership</h3>
                        <p>Partnered with trusted dealerships, we offer a curated selection of high-quality vehicles, providing you with peace of mind and confidence in your rental choice</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">8</div>
                    <div class="icon">
                        <i class="flaticon-lock"></i>
                    </div>
                    <div class="detail">
                        <h3>Security</h3>
                        <p>Your safety is our priority. From secure online bookings to vehicle maintenance and customer support, we are committed to providing a secure and worry-free rental experience at every step.</p>
                    </div>
                </div>
            </div>
	
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">9</div>
                    <div class="icon">
                        <i class="flaticon-deal"></i>
                    </div>
                    <div class="detail">
                        <h3>Trusted Agents</h3>
                        <p>Trust in our agents for a seamless rental experience, backed by expertise and dedication.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services end -->



<!-- Service center strat -->
<div class="service-center content-area-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
               
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="about-text">
                    <h3>Our Services <span>Video</span></h3>
                    <p>Welcome to our Car Rentals, where luxury meets convenience. We pride ourselves on providing an unparalleled rental experience, offering a range of complimentary services to enhance your journey. From free delivery and pickup to 24/7 roadside assistance and personalized concierge support, we ensure every aspect of your rental is seamless and stress-free. With lightning-fast rentals of our high-performance vehicles, you'll hit the road swiftly and stylishly. </p>
                    <p class="mb-0">Rest assured, our expert team maintains our fleet to the highest standards, with regular oil changes and swift handling of any repairs or engine issues. Partnered with trusted dealerships, we offer a curated selection of high-quality vehicles, providing peace of mind and confidence in your rental choice. Your safety is our priority, with secure online bookings and dedicated customer support. Rely on our team of trusted agents, dedicated to exceeding your expectations with integrity and expertise. Experience the difference with our Car Rentals.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Service center end -->

{% endblock %}
